BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 0

BraceWrapping:
  AfterFunction: false
  AfterControlStatement: false
  AfterEnum: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
