[system]
group = lightmail
owner = lightmail

[database]
host = localhost
port = 3306
user = root
password = 
database = maildb
pool_size = 10

[imap]
imap_port = 143
imaps_port = 993
max_clients = 100
buffer_size = 8192
session_timeout = 1800

[lmtp]
socket=/run/

[logging]
path = /var/log/lightmail/lightmail.log

[ssl]
cert_file = /var/projects/lightmail/certs/cert.pem
key_file = /var/projects/lightmail/certs/key.pem

[s3]
endpoint = 
region = us-east-1
bucket = mails
access_key = 
secret_key = 
use_ssl = 1
